{{ header }}
<div id="account-register" class="account-register">

    <header class="pages-header">
        <div class="container">
            <h1 class="pages-header__title">{{ heading_title }} {% if weight %} ({{ weight }}) {% endif %}</h1>
            <ul class="pages-header__breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>

    <div class="container">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
        {% endif %}
    </div>

    <div id="content" class="container account-register__container">
        <div class="authForm">
          <h1 class="authForm__title">{{ heading_title }}</h1>
          <p class="authForm__desc">{{ text_account_already }}</p>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset id="account">
              <div class="form-group required">
                  <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control input" />
                  {% if error_firstname %}
                  <div class="text-danger">{{ error_firstname }}</div>
                  {% endif %}
              </div>
              <div class="form-group required">
                  <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control input" />
                  {% if error_lastname %}
                  <div class="text-danger">{{ error_lastname }}</div>
                  {% endif %}
              </div>
              <div class="form-group required">
                  <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control input" />
                  {% if error_email %}
                  <div class="text-danger">{{ error_email }}</div>
                  {% endif %}
              </div>
              <div class="form-group required">
                  <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control input" />
                  {% if error_telephone %}
                  <div class="text-danger">{{ error_telephone }}</div>
                  {% endif %}
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group required">
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control input" />
                  {% if error_password %}
                  <div class="text-danger">{{ error_password }}</div>
                  {% endif %}
              </div>
              <div class="form-group required">
                  <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control input" />
                  {% if error_confirm %}
                  <div class="text-danger">{{ error_confirm }}</div>
                  {% endif %}
              </div>
            </fieldset>
            <div class="authForm__action">
                <input type="submit" value="Зарегистрироваться" class="button" />
                <div class="authForm__agree">
                    {% if text_agree %}
                        {% if agree %}
                            <input type="checkbox" name="agree" value="1" checked="checked" />
                        {% else %}
                            <input type="checkbox" name="agree" value="1" />
                        {% endif %}
                        <div class="authForm__agree_text">
                            {{ text_agree }}
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
          </form>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
{{ footer }} 