{{ header }}


<div class="page-categories">

    <header class="pages-header">
        <div class="container">
            <h1 class="pages-header__title">{{ heading_title }}</h1>
            <ul class="pages-header__breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>


    <div class="container page-categories__categories">
        {% for category in categories %}
            <a href="{{ category.href }}" class="page-categories__item">
                <div class="page-categories__item_img">
                    <img src="{{ category.image }}" alt="">
                </div>
                <h2 class="page-categories__item_title">{{ category.name }}</h2>
            </a>
        {% endfor %}
    </div>

</div>

{{ footer }}