{{ header }}


<div class="page-about information-page">

    <header class="pages-header">
        <div class="container">
            <h1 class="pages-header__title">{{ heading_title }}</h1>
            <ul class="pages-header__breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>

    <div class="about">
        <div class="container about__container">
            <div class="about__img">
                <img src="catalog/view/theme/fish/image/dest/about.png" alt="">
            </div>
            <div class="about__content">
                <h2 class="about__title">О компании</h2>
                <p class="about__desc">Работаем с 2004 года. Владеем двумя цехами суммарной мощностью переработки 250 т. сырья в месяц. Одни из лидеров по качеству вяленой рыбы и вяленого мяса на Российском рынке.</p>
                <div class="about__bulits">
                    <div class="about__bulit">
                        <span class="about__bulit_num">10</span>
                        <p class="about__bulit_desc">лет производим вяленую продукцию</p>
                    </div>
                    <div class="about__bulit">
                        <span class="about__bulit_num">100</span>
                        <p class="about__bulit_desc">cвыше сотни сотрудников в компании</p>
                    </div>
                    <div class="about__bulit">
                        <span class="about__bulit_num">250</span>
                        <p class="about__bulit_desc">обрабатываем 250 тонн сырья в месяц</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="advantages">
        <div class="container advantages__container">
            <div class="advantages__item">
                <div class="advantages__item_img">
                    <img src="catalog/view/theme/fish/image/dest/advantages/1.svg" alt="">
                </div>
                <h3 class="advantages__item_title">Качество</h3>
                <span class="advantages__item_desc">Высокое качество, надежность</span>
            </div>
            <div class="advantages__item">
                <div class="advantages__item_img">
                    <img src="catalog/view/theme/fish/image/dest/advantages/2.svg" alt="">
                </div>
                <h3 class="advantages__item_title">Производство</h3>
                <span class="advantages__item_desc">Собственное производство</span>
            </div>
            <div class="advantages__item">
                <div class="advantages__item_img">
                    <img src="catalog/view/theme/fish/image/dest/advantages/3.svg" alt="">
                </div>
                <h3 class="advantages__item_title">Продукция</h3>
                <span class="advantages__item_desc">Большие объемы, стабильное наличие</span>
            </div>
            <div class="advantages__item">
                <div class="advantages__item_img">
                    <img src="catalog/view/theme/fish/image/dest/advantages/1.svg" alt="">
                </div>
                <h3 class="advantages__item_title">Широкий ассортимент</h3>
                <span class="advantages__item_desc">Высокое качество, надежность</span>
            </div>
        </div>
    </section>

    <section class="destributers">
        <div class="container">
            <h2 class="destributers__title">Широкая дистрибьюторская сеть</h2>
            <p class="destributers__desc">Осуществляем поставки по всей России, а также в ближайшее зарубежье. Доставка до терминала транспортной компании в пределах Москвы осуществляется бесплатно</p>
        </div>
        <div class="destributers__map" style="background-image: url('catalog/view/theme/fish/image/dest/map.jpg')"></div>
    </section>

    <section class="partners">
        <div class="container">
            <div class="partners__title_inner">
                <h2 class="partners__title">Нам доверяют</h2>
            </div>
            <div class="partners__content">
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item_img">
                        <img src="catalog/view/theme/fish/image/dest/partner-example.png" alt="">
                    </div>
                    <span class="partners__item_name">Морячка</span>
                </div>
            </div>
        </div>
    </section>

</div>

{{ footer }}